# Ignore everything
**

# Allow files and directories
!assets
!packages
!dependencies-apt.txt
!dependencies-py3.*
!launchers
assets/TrajPlan-ScheMPC-copy/.venv
assets/TrajPlan-ScheMPC-copy/**/target
assets/TrajPlan-ScheMPC-copy/**/__pycache__
assets/TrajPlan-ScheMPC-copy/**/*.pyc
packages/**/__pycache__
packages/**/*.pyc

# YOUR FILES LISTED BELOW THIS LINE (IMPORTANT: PREPEND !)
# ----------------------------------------------------------------------------
